doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='https://cdn.socket.io/socket.io-1.0.6.js')
    script(type='text/javascript', src='/javascripts/app.js')
  body
    block content
